@import 'vars';

.desktop-menu {
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-grey);
    border-radius: 4px;
    padding: 10px 20px;
    position: absolute;
    background-color: var(--white);
    top: 50px;
    right: 60px;
}

.desktop-menu ul li {
    list-style: none;
    text-align: start;
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    border-top: 1px solid var(--very-light-grey);
}

.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    margin: 16px 0;
    display: inline-block;
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: 1em;
}